<div id="accueil-title">
    <h2 id="welcome-message" >Bienvenue sur <span class="highlight">Task-été</span>!</h2>
</div>
<div>
    <h3>Gérez vos tâches grâce à notre <span class="highlight">merveilleuse</span> application </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates architecto quaerat porro harum! Dicta rem, esse animi officiis nesciunt vitae atque eveniet labore! Minus rem iste praesentium veritatis voluptatum eaque.</p>
    <div class="display-right">
        <a routerLink="/tache"><button class="btn btn-lg primary-btn">gérer les tâches</button></a>
    </div>
</div>